body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFEFF4;
  color: #2C3E50;
}
.category-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFEFF4, #FDEAEF);
  overflow-x: hidden;
}
