.home-page{
  background: linear-gradient(#FFEFF4, #FDEAEF);
  color: #A4004E;
  width: 100%;
  min-height: 100vh;   
  opacity: 1;   
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3 {
  color: #A4004E;
  font-weight: 700;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;

}
.header{
 -webkit-backdrop-filter: blur(20px); 
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #A4004E;
  border-bottom: 1px solid #FDEAEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: fixed;
  top: 0%;
  left:250px;
  right: 0;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;


}
.header-right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.bell-icon{
  position: relative;
}

.avatar{
  position: relative;

}
.dropdown{
  position: relative;
}

.avatar:hover{
  outline: none;
  border-color: #A4004E;
  box-shadow: 0 0 0 3px rgba(164, 0, 78, 0.2);
}
.dropdown-menu , ul , ui:hover {
  cursor:pointer;
}

.sidebar{
  width: 250px;
  background-color: #FDEAEF;
  padding: 20px;
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}
.wardrobe-toggle{
  display: flex;
  justify-content:space-around;
  gap: 10px;
  margin-bottom: 20px;
}
