.home-pagr{
  background: linear-gradient(#FFEFF4, #FDEAEF);
  width: 100%;
  height: 100vh;   
  opacity: 1;   
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}