/* HomePage.css */

.home-content {
  padding: 2rem;
  text-align: center;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #4f46e5; /* Indigo-600 */
  margin-bottom: 0.5rem;
}

.home-content p {
  font-size: 1.125rem;
  color: #4b5563; /* Gray-700 */
}
