body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFEFF4;
  color: #2C3E50;
}
.home-page {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(#FFEFF4, #FDEAEF);
}

.header {
  position: fixed;
  /* top: 0; */
  /* left: 250px; */
  /* right: 0; */
  /* height: 50px; */
  background: rgba(255, 255, 255, 0.9);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 0 0 0 ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width:100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  color: #A4004E;
  letter-spacing: 1px;
  /* user-select: none; */
}